* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

p {
  font-size: 20px;
}

#header {
  height: 210px;
  background: url(../img/pattern.png);
  background-color: aqua;
  width: 100%;
}

#logo {
  height: 30%;
  width: 30%;
  position: relative;
  top: 130px;
}

#title h1 {
  font-size: 60px;
}

div > p {
  color: gray;
}


.tim {
  margin-left: -40px;
}

p > span {
  color: rgb(6, 178, 178);
}

.list {
  margin-top: 60px;
}

.section-table {
  margin-top: 60px;
}

table {
  border-collapse: collapse;
}

th,
td {
  width: 30%;
  text-align: left;
}

th {
  background-color: rgb(44, 110, 110);
  color: antiquewhite;
}

tr:nth-child(even) {
  background-color: aqua;
}

.underline {
  background-color: yellow;
  color: black;
}
#text2 {
  margin-top: 60px;
}

footer h2 {
  color: gray;
}

footer {
  margin-top: 40px;
}

.img-footer {
  display: block;
  margin-top: 0px;
}

.text-img {
  position: relative;
  color: aliceblue;
  top: -200px;
  font-size: 35px;
}

#img {
  margin-inline-start: 40px;
}
