*{
    box-sizing: border-box;
}
#header{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 210px;
    background: url(../img/pattern.png);
    background-color: aqua;
} 


#logo{
    height: 30%;
    width: 30%;
    position: relative;
    top: 130px; 
    left: -100px;
}