* {
  box-sizing: border-box;
}
p{
    font-size: 20px;
}

#header {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  height: 210px;
  background: url(../img/pattern.png);
  background-color: aqua;
}

#logo {
  height: 30%;
  width: 30%;
  position: relative;
  top: 130px;
  left: -100px;
}

#title h1 {
  font-size: 60px;
}

#title > div {
  margin-top: -50px;
}
div > p{
    color: gray;
}

#author {
  font-size: 20px;
}

.tim{
    margin-left: -40px;
}

p > span {
  color: rgb(6, 178, 178);
}

#data{
    margin-top: -20px;
}

figcaption{
    margin-left: -40px;
}

.list{
    margin-top: 60px;
    margin-left: -25px;
}

.table{
    margin-top: 60px;
}

th,td{
    width: 30%;
    text-align: left;
}

th{
    background-color:rgb(44, 110, 110);
    color: antiquewhite;
}

tr:nth-child(even) {
    background-color: aqua;
}

.underline{
    background-color: yellow;
    color: black;
}
#text2{
    margin-top: 60px;
}

footer p{
    color: gray;
}

footer{
    margin-top: 40px;
}

.img-footer{
    display: block;
    margin-top: 0px;
}

.text-img{
    position: relative;
    color: aliceblue;
    top: -200px;
    font-size: 35px;
}
